

		<div class="container">
			<div class="pink-title" translate>{{'contact'}}</div>
			<br/>
			<img class="img-responsive" src="./images/about-us.jpg">
			<br/><br/><br/><br/>
			<div class="row">
				<div class="col-md-5">
					<img src="./images/about-us2.jpg" class="img-responsive">
				</div>
				<div class="col-md-7 normal-text">
					<h4 translate>{{'about'}}</h4>
					<h2 translate>{{'diamond-pill'}}</h2>
					<img src="./images/title-bottom-line.png"><br/><br/>
					<p style="text-align:justify;font-size:12pt;" translate>{{'about-desc'}}</p>
				</div>				
			</div>
			<br/><br/>
			<table class="table borderless">
				<tr>
					<td>
						<a href="./images/about-us.jpg" data-lightbox="image"><img src="./images/about-us-gallery/about-us-gallery1.jpg"></a>
					</td>
					<td>
						<a href="./images/about-us.jpg" data-lightbox="image"><img src="./images/about-us-gallery/about-us-gallery1.jpg"></a>
					</td>
					<td>
						<a href="./images/about-us.jpg" data-lightbox="image"><img src="./images/about-us-gallery/about-us-gallery1.jpg"></a>
					</td>
				</tr>
			</table>
		</div>
