
	<div class="footer_share">
	<h1>CONNECT WITH DOYAGE</h1>
	<p>Find us online or sign up for our newsletter</p>
	<div class="row">
	<div class="col-lg-6 col-centered">
		<a href="http://www.facebook.com" target="_blank"><img  src="./images/footer/fb.png"></a>	
	<a href="http://www.twitter.com" target="_blank"><img  src="./images/footer/tw.png"></a>	
		<a href="http://www.instagram.com" target="_blank"><img  src="./images/footer/insta.png"></a>	
			<a href="http://www.youtube.com" target="_blank"><img  src="./images/footer/you.png"></a>	
			</div>
		
			<div class="col-lg-6 col-centered">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter your email">
      <span class="input-group-btn">
        <button class="btn btn-default  btn-success" type="button"><i class="fa fa-angle-right fa-lg"></i></button>
      </span>
    </div>
    </div>
  </div>
	  <div class="row" style="padding-top:15px;">
  	<div class="col-xs-6 col-sm-3 ">
  		<h3>Home</h3>
  		<h5><a href="">About us</a></h5>
  	</div>
  	<div class="col-xs-6 col-sm-3">
  	<h3>Mission</h3>
  		<h5><a href="">Travel to Help</a></h5>
  		<h5><a href="">What we give</a></h5>
  	</div>
  	<div class="col-xs-6 col-sm-3">
  		  	<h3>Story</h3>
  		<h5><a href="">About mongolia</a></h5>
  		<h5><a href="">Photo gallery</a></h5>
  	</div>
  	<div class="col-xs-6 col-sm-3">
  			<h3>Tours</h3>
  		<h5><a href="">Travel Tips</a></h5>
  		<h5 ng-repeat="tour in toursData"><a href="">{{tour.name}}</a></h5>
  	</div>
  </div>


	</div>


<!--  -->
