@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

#login-page{

  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  background-color: white;
  padding: 50px;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #ec6d74;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login-page h1{
  background:#ec6d74;
  padding:20px 0;
  margin: 0 auto;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}


.username,input[type="password"]{

  width: 100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
width: 100%;
  background:#ec6d74;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}